body{
    background-color: antiquewhite;
}
html{
    background-color: silver;
}
h2{
    color: rgb(38,38,167);
}

/* body {
    background-color: antiquewhite;
}

html {
    border-color: silver;
}

h2 {
    color: rgb(38, 38, 167);
}

input {
    color: rgb(19, 19, 18);
}

.id {
    width: 700px;
    ;
    .id
}

.form {
    color: black;
}

.div {
    color: yellow;

}

.name {
    width: 900px;
    height: 100px;
} */